
/*inicializando el body*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    background-color: #fff;
    height: 100vh;
  }
  
  a {
    text-decoration: none !important;
    color: white !important;
  }
  
  .imgCarrito{
    width: auto !important;
    height: auto !important;
    max-width: 75px !important;
    max-height: 75px !important;
  
  }
  
  .imgFooter{
    width: auto !important;
    height: auto !important;
    max-width: 75px !important;
    max-height: 75px !important;
  
  }
  
  .imgCarousel {
    object-fit: scale-down;
    height: 80vh;
    width: 100%;
  }

  .imgProducto {
    object-fit: scale-down;
    height: 250px;
    width: 100%;
  }
  